.LoginForm {
    width: 400px;
    margin-top: 100px;
    padding: 35px;
    border: solid 1px black;
    border-radius: 15px;
}

.LoginForm input {
    margin: 10px;
    padding: 10px 30px 10px 10px;
}

.LoginForm label {
    display: inline-block;
    width: 100px;
}

.LoginForm input {
    width: 50%;
}